.jumbotron {
	width: 950px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.navbar{
    width: 950px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}